html{
  scroll-behavior: smooth;
}
/* Navbar */
#nav {
  font-size: larger;
  border-radius: 15px;
  background-color: #03045e;
  box-shadow: rgba(208, 192, 14, 0.341) 1px 5px 5px 5px ;
}
#list{
  color: gold;
  font-family: poppins;
}
/*slider*/
.carousel-item{
  width: 100%;
  height: 60vh;
  object-fit: contain;
  border-radius:20px ;
  
}
.carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  object-position: center;
}
.card img{
  width: 100%;
  height:40vh;
  border-radius: 20px;
}
#crew-card{
  border: #03045e;
  box-shadow: 10px 10px 20px rgba(181, 52, 52, 0.411);
  border-radius: 50px;
}
#card-body{
  border-radius: 20px;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000; /* Background behind the image */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 1s ease, visibility 1s ease;
  overflow: hidden;
}

/* === SHOW FULL IMAGE WITHOUT CROPPING === */
#preloader{
  background-image: url(onepiece.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* === FADE OUT === */
#preloader.hide {
  opacity: 0;
  visibility: hidden;
}
.scroll-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 1s ease-out;
  opacity: 0;
  transform: translateY(100px);
}

/* === When it becomes visible === */
.scroll-section.show {
  opacity: 1;
  transform: translateY(0);
}

